body {
  background-color: black;
  color: white;
}
.card {
    background-color:#343a40;
}
.tableFixHead{
    overflow-y: auto;
    height: 200px;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.8);
}

