{% extends 'info/base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/crypto_pages.css' %}">
{% endblock %}
{% block title %}
Coins list
{% endblock %}

{% block body %}
<div id="accordion" class="coins-list">
    {% for coin in coins %}
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}"
             aria-expanded="true" style="cursor:pointer;">
            <div class="panel-title d-flex justify-content-between">
                <h5 class="mb-0">{{ coin.name }} ~{{coin.cost|floatformat:2}}$</h5>
                <div>
                    {% if coin.total_withdrawn %}
                    Withdrawn:
                    <span class="badge badge-pill badge-success">{{coin.total_withdrawn|floatformat:3 }} $</span>
                    {% endif %}
                    Avg price:
                    <span class="badge badge-pill badge-primary">{{coin.average_entry_point|floatformat:3 }}$</span>
                    Profit:

                    <span class="badge badge-pill badge-{% if coin.profit < 0 %}danger{%else%}success{%endif%}">
                        {{coin.profit|floatformat:3 }} $
                    </span>
                </div>
            </div>


        </div>
        <div id="collapse-{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="tableFixHead">
                    <table class="table table-sm table-dark">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Count</th>
                            <th>Course</th>
                            <th>Total</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for deal in deals %}
                        {% if deal.coin.name == coin.name %}
                        <tr class="bg-{% if deal.type == 'SELL' %}danger{% else %}success{% endif %}">
                            <td>{{deal.type}}</td>
                            <td>{{deal.count|floatformat:3}}</td>
                            <td>{{deal.coin_course|floatformat:3}}$</td>
                            <td>{{deal.total|floatformat:3}}$</td>
                            <td>{{deal.date_time|date:"H:m d/m/Y"}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                        <thead>
                            <th>Totals:</th>
                            <th>{{coin.total_coin_count|floatformat:2}}</th>
                            <th>{{coin.average_entry_point|floatformat:3 }} $</th>
                            <th>
                                <i>Bough: </i>{{coin.total_bought|floatformat:2}} $
                                {% if coin.total_withdrawn %}
                                <br><i>Withdrawn: </i>{{coin.total_withdrawn|floatformat:2 }} $
                                {% endif %}
                            </th>
                            <th>---</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}